<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <header>
      <nav>
        <ul class="header__lists">
          <li 
          class="header__list__prof"
          v-on:mouseover="prfMouseOver"
          v-on:mouseout="prfMouseOut">
          Yusuke Hasui
          </li>
          <li 
          class="header__list__pr"
          v-on:mouseover="prMouseOver"
          v-on:mouseout="prMouseOut">
          PR
          </li>
          <li 
          class="header__list__skill"
          v-on:mouseover="skillMouseOver"
          v-on:mouseout="skillMouseOut">
          Skill
          </li>
          <li 
          class="header__list__prog"
          v-on:mouseover="progMouseOver"
          v-on:mouseout="progMouseOut"
          >Programming</li>
        </ul>
        <ul class="header__links">
          <li class="header__link"><a href="https://github.com/hasuke0324" class="github__link"><img src="./Github_icon.png" class="gitImg"></a></li>
          <li class="header__link"><a href="https://twitter.com/hasuke_study" class="twitter__link"><img src="./Twitter_icon.png" class="twiImg"></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="left__box">
        <div class="left__box__prof" v-if="showPrf">
          プロフィール<br>
          <br>
          <span style="font-size:0.85em;">
          氏名:蓮井 雄介<br>
          1985年03月24日生<br>
          <br>
          <br>
          2007年03月 龍谷大学法学部法律学科卒業<br>
          2010年03月 東京フィルムセンタースクールオブアート専門学校卒業<br>
          2010年04月 株式会社ソケッツ 入社<br>
          2014年10月 株式会社ソケッツ 退社<br>
          2014年11月 株式会社IBJ 入社<br>
          2020年11月 株式会社IBJ 退社<br>
          <br>
          私は1社目でモバイルサービスにおける企画運営と事業企画を経験、
          2社目では婚活という業界で店舗開発、支店長を担ってきました。<br>
          1社目ではサービスのログを分析し、UU数とPV数増加に努め113%UPを達成しました。<br>
          2社目では主にマネジメントやプロジェクトリーダーの役割が多く、
          チーム全体の実績向上が求められましたが、店舗内では過去最高の営業成績や全国1位の成婚数などの結果に結びつけてきました。<br>
          分析をして仮説を立て、仕組みで解決することに注力して実績を残してきました。<br>
          2020年4月からプログラミングスクールへの入学と共にプログラミング学習を開始しました。<br>
          <br>
          現在、転職活動中です。勤務希望地は関西となります。 
          </span>
          <img src="./face.jpg" class="prfphoto">
        </div>
        <div class="left__box__pr" v-if="showPr">
          自己PR<br>
          <br>
          1. 仕組みによる解決能力<br>
          <br>
          <span style="font-size:0.85em;">過去、マネジメントをする機会が多かったのですが、数字が上がらない、
          メンバーのモチベーションも上がらないという状況で、前任から引き継ぐ場面もありました。<br>
          そこで私は、そもそもメンバーのモチベーションに依存した環境から見直しました。
          一例ですが、今月何件という当月の数字だけではなく、過去の推移、入会経路を店舗に貼り出すことで、
          自分の成長具合や得意不得意をメンバー自身で気づける環境づくりに着手。<br>
          結果、私から何も言わずとも、メンバー自身が弱点を見つめ直し、
          徐々に数字を上げていくことができました。<br>
          何かトラブルや課題があった場合は、人ではなく仕組みを責任にし、
          環境を改善して行動していければと思っています。</span><br>
          <br>
          2. 新規事業の経験<br>
          <br>
          <span style="font-size:0.85em;">マネジメントと合わせて、0から1を作る仕事を任される機会もありました。
          店舗出店など、業界に関しての知識がない中、坪単価はいくらが適切か、
          C工事・B工事などの業界用語などを勉強し、その上で業者や貸主とのやり取り、
          社内でも他部署からアサインされた方への指示だし、工程の進捗確認なども取りまとめてきました。<br>
          経験がないからできないですと最初から否定せず、走りながら学び実行していこうとすることは強みであり、
          早めのキャッチアップにも繋がるのではと考えています。</span>
        </div>
        <div class="left__box__skill" v-if="showSkill">
          開発・経験<br>
          <br>
          <span style="font-size:0.85em;">
          2020年4月〜9月:TechCamp卒業<br>
          <br>
          【スクールでの学習経験】<br>
          HTML・CSS・Ruby・Ruby on Rails・JavaScript・
          jQuery・SQL・Git・ GitHub・Haml・SCSS・AWS 等の<br>
          技術を用いたアプリケーション開発 <br>
          <br>
          スクールのカリキュラムとは別に独学でも学習を継続<br>
          【個人での学習経験】<br>
          PHP・Laravel・Vue.js・MAMP<br>
          <br>
          学習でインプットしたノウハウはTwitterを通して<br>
          継続的にアウトプットを心掛けています<br>
          <br>
          【今後の学習計画】<br>
          ・個人アプリにてCI/CDパイプラインを通す追加実装<br>
          ・Twitter APIとの連携<br>
          ・Dockerを使用した個人アプリ開発<br>
          </span>
        </div>
        <div class="left__box__prog" v-if="showProg">
          プログラミングに対する関心<br>
          <br>
          <span style="font-size:0.85em;">
          前職では、店舗の責任者となりチーム全体の営業成績を上げることが求めらる機会がありました。<br>
          そこで私はインバウンドの要素を強めるべく、お問い合わせページの構成やSEO・MEOに力を注ぎ、お客様からの問合せ数や入会数をアップさせることに成功しました。<br>
          この体験から「ITの力は仕事の業務効率を上げ、時間とお金を生み出し、より成果につながる」と感じました。<br>
          さらにチームメンバーの力を発揮してもらうにはどうすれば良いかと思った際にも、ITの力の凄さを感じることが多くありました。<br>
          例えば、紙による顧客管理をエクセル化、お客様に説明する際のパワーポイントのアニメーション化を試みたのですが、<br>
          セールスフォースなどの営業支援ツールやWEBサイトの料金シュミレーションの方が、便利で使いやすく、またお客様にも分かりやすいといったことです。<br>
          もっと便利にするにはどうすれば良いか、もっとユーザーに響くにはこうしたらいいのではと、<br>
          思えば思うほど、自身でそれを実現できないことにジレンマを感じ、それを実現することができるプログラマーに関心を強く持つようになりました。<br>
          ITの力の恩恵を感じるだけでなく、与えていける立場に身を置いて尽力してきたいと考えています。
          </span>
        </div>
      </div>
      <div class="right__box">
        <div class="right__box__top">
          <ul 
          class="work__lists"
          style="margin-top: 0px; padding-left: 0px; padding-right: 20px;" >
            <li class="work__01">
              <a 
              href="http://175.41.230.217/users/sign_in"
              class="work__tex"
              target="_blank"
              rel="noopener noreferrer"
              v-on:mouseover="imgMouseOver1"
              v-on:mouseout="imgMouseOut1"
              >01. My Todo</a>
            </li>
            <li class="work__02">
              <a 
              href="http://polar-chamber-46255.herokuapp.com/"
              class="work__tex"
              target="_blank"
              rel="noopener noreferrer"
              v-on:mouseover="imgMouseOver2"
              v-on:mouseout="imgMouseOut2"
              >02. Why Issue</a>
            </li>
            <li class="work__03">
              <a 
              href="http://176.34.54.93/"
              class="work__tex"
              target="_blank"
              rel="noopener noreferrer"
              v-on:mouseover="imgMouseOver3"
              v-on:mouseout="imgMouseOut3"
              >03. free-market</a>
            </li>
          </ul>
          <img src="./work01.png" class="img01" v-show="workImg01">
          <img src="./work02.png" class="img02" v-show="workImg02">
          <img src="./work03.jpg" class="img03" v-show="workImg03">
        </div>
        <div class="right__box__bottom">
          <transition name="rightIn01">
            <div class="right__box__work01" v-show="workDesc01">
              My Todo : <span style="font-size:0.85em;">
             「重要性」と「緊急性」を軸にタスク管理できるアプリケーションです。<br>
              <br>
              タスクを管理できつつ、自分がどれだけ質の高い仕事ができているかカウントと割合を出してくれます。
              本来自分が時間を費やすべき仕事は何なのか？迷いがちな方の課題を解決するために作成しました。
              初めてスクールのカリキュラム以外でRailsのCRUD処理を実装したアプリケーションとなります。
              RailsによるAjaxとAWSへのデプロイがこだわりポイントです。
              Railsにおける基本的にCRUD処理、Ajax、AWSへのデプロイ方法を理解。<br>
              Ruby : 2.5.1/ Rails : 5.2.3/ インフラ : AWS/ WEBサーバー : Nginx/ Devise : ログイン機能/ 
              ajax : タスク追加と削除/ RSpec : テストコード/ コードレビュー : Rubocop/ 自動デプロイ : Capistrano<br>
              ※ゲストログイン(閲覧用)からログインしてお試しください。
             </span>
            </div>
          </transition>
          <transition name="rightIn02">
            <div class="right__box__work02"  v-show="workDesc02">
              Why Issue : <span style="font-size:0.85em;">
             「課題」と「状況」を整理するアプリケーションです。<br>
              <br>
              予算が達成しない、勉強が続かない、、これは課題なのか？状況なのか？<br>
              私自身、マネジメントする立場で課題解決を考えたときに課題と状況の整理がうまくつけられないときがありました。
              課題を解決するツールは様々ありますが、本アプリケーションはそもそもの「課題」をしっかり抽出するサポートをしてくれます。
              スクールではPHPとVue.jsに関しては一切教えられていませんでしたが、独学でCRUD処理を実装しました。
              1つの質問に関してしっかり向き合ってもらうために、一つの項目を入力してから、次のフォームが出るように Vue.jsで調整したところがこだわりです。
              デプロイはHEROKUですが、今後CI/CDのパイプラインを通して自動的にデプロイさせたいと考えています。<br>
              PHP : 7.3.11/ Laravel Framework : 8.6.0/ DB操作 : mysql/14.14/ フロント制御 :Vue.js/2.5.17/ インフラ : heroku/7.44.0
             </span>
            </div>
          </transition>
          <transition name="rightIn03">
            <div class="right__box__work03" v-show="workDesc03">
              free-market : <span style="font-size:0.85em;">
              某有名フリマサービスのクローンサイトです。<br>
              <br>
              スクールの最終課題として複数人で開発を実施。私のチームは4名。DB設計から商品の出品、編集、削除の機能を主に担当しました。<br>
              現場に出てチームで制作することを想定しGitHubやSlackを使用して開発をしました。
              基本的なGitHub操作とチーム開発だから起こり得るコンフリクトの解消方法を理解しました。
              実装だけではなく、参考にした記事や技術、エラーを解決した方法をSlackでメンバーに共有することにも注力し、チームの技術力UPにも努めました。
              多階層のカテゴリー選択がプルダウンからできるところがこだわりポイントです。<br>
              Ruby,Scss,Haml,JavaScript/ツール:VScode, Git, GitHub, Capistrano, DB:MySQL/サーバー：AWS(EC2）,nginx, unicorn<br>
              Basic認証IDPASS: ID: admin、Pass:a2222 /テストIDPASS:tanaka_jiro@japan.com、PW:1111111
              </span>
            </div>
          </transition>
        </div>
      </div>
    </main>
    <footer>
      <div class="text__center">
        <span class="copy__mark">©︎YusukeHasui</span>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
        el: "#app",
        data: {
          showPrf: false,
          showPr: false,
          showSkill: false,
          showProg: false,
          workImg01: false,
          workImg02: false,
          workImg03: false,
          workDesc01: false,
          workDesc02: false,
          workDesc03: false,
        },
        methods: {
          prfMouseOver() {
            this.showPrf = true
          },
          prfMouseOut() {
            this.showPrf = false
          },
          prMouseOver() {
            this.showPr = true
          },
          prMouseOut() {
            this.showPr = false
          },
          skillMouseOver() {
            this.showSkill = true
          },
          skillMouseOut() {
            this.showSkill = false
          },
          progMouseOver() {
            this.showProg = true
          },
          progMouseOut() {
            this.showProg = false
          },
          imgMouseOver1() {
            this.workImg01 = true
            this.workDesc01 = true
          },
          imgMouseOut1() {
            this.workImg01 = false
            this.workDesc01 = false
          },
          imgMouseOver2() {
            this.workImg02 = true
            this.workDesc02 = true
          },
          imgMouseOut2() {
            this.workImg02 = false
            this.workDesc02 = false
          },
          imgMouseOver3() {
            this.workImg03 = true
            this.workDesc03 = true
          },
          imgMouseOut3() {
            this.workImg03 = false
            this.workDesc03 = false
          },
        }
    });
  </script>
  <style>
  .rightIn01-enter-active, .rightIn01-leave-active {
    transform: translate(0px, 0px);
    transition: transform 500ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  .rightIn01-enter, .rightIn01-leave-to {
    transform: translateX(100vw) translateX(0px);
  }
  .rightIn02-enter-active, .rightIn02-leave-active {
    transform: translate(0px, 0px);
    transition: transform 500ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  .rightIn02-enter, .rightIn02-leave-to {
    transform: translateX(100vw) translateX(0px);
  }
  .rightIn03-enter-active, .rightIn03-leave-active {
    transform: translate(0px, 0px);
    transition: transform 500ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  .rightIn03-enter, .rightIn03-leave-to {
    transform: translateX(100vw) translateX(0px);
  }
  </style>
</body>
</html>
